@model IEnumerable<ProductImage>
<style>
    #carouselExampleCaptions {
        width: 450px; /* İstediğiniz sabit genişlik */
        height: 600px; /* İstediğiniz sabit yükseklik */
       
    }

        #carouselExampleCaptions .carousel-inner {
            width: 450px;
            height: 600px;
        }

        #carouselExampleCaptions .carousel-item img {
            max-width: 450px;
            max-height: 600px;
        }

</style>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i+1)"></button>
        }
    </div>
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item @(item == Model.FirstOrDefault() ? "active": "")">
                <img src="/Img/Products/@item.Image" class="d-block w-100" alt="@item.Image" />
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
